/* HTML validation button */
.button > a {
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #333;
    background-color: #ccc;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
.button > a > strong {
    font-weight: bold;
    color: #fff;
    background-color: #226;
    padding-left: 2px;
    margin-right: 5px;
}
.button > a:hover {
    color: #fff;
    background-color: #226;
}
.button > a:hover > strong {
    color: #333;
    background-color: #ccc;
}
