/* import CSS button style */
@import url(button.css);

/* The whole page */
body {
    display: grid;
    grid-template-columns: 220px auto  260px;
    grid-template-rows: auto auto auto auto;
    margin: 40px;
}

/* Top section */
header {
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: auto 260px;
    grid-template-rows: auto auto;
    border: 2px solid #000;
}
header > h1 {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 36px;
    text-align: center;
    color: #007;
}
header > div {
    grid-area: 2 / 1 / 3 / 4;
    margin: 0;
    background-color: #006;
    color: #AAF;
    font: bold 12pt/24px serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
header > span {
    grid-area: 2 / 3 / 3 / 4;
    color: #AAF;
    text-align: right;
    margin-top: 4px;
    margin-right: 4px;
}

/* Navigation box */
nav {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 5px;
    padding: 10px;
    border: 1px dotted #000;
}
nav > a {
    display: block;
    margin-top: 7px;
    font: bold 12pt/24px sans-serif;
}
nav > a, nav > a:visited {
    color: #007;
    text-decoration: none;
}
nav > a:hover {
    color: #7F6B00;
    text-decoration: none;
}

/* Quote */
aside {
    grid-area: 2 / 3 / 3/ 4;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: #C6DBF7;
    font-size: medium;
    font: sans-serif;
}
aside > p > q {
    font-style: normal;
    font-weight: bold;
}
aside > p.author {
    margin-top: 5px;
    padding-left: 8px;
    font-size: small;
    font-style: italic;
}

/* Main */
main {
    grid-area: 2 / 2 / 4 / 3;
    padding-left: 25px;
    padding-right: 25px;
}
main > h1 {
    text-align: center;
    color: #007;
}
main > p {
    text-align: justify;
    font-size: large;
    color: purple;
}

/* Footer */
footer {
    grid-area: 4 / 1 / 5 / 4;
    margin-top: 20px;
}
footer > p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
